if !theme.disable_top_img && page.top_img !== false
  if is_post()
    - var top_img = page.top_img || page.cover || theme.default_top_img
  else if is_page()
    - var top_img = page.top_img || theme.default_top_img
  else if is_tag()
    - var top_img = theme.tag_per_img && theme.tag_per_img[page.tag] 
    - top_img = top_img ? top_img : (theme.tag_img !== false ? theme.tag_img || theme.default_top_img : false)
  else if is_category()
    - var top_img = theme.category_per_img && theme.category_per_img[page.category]
    - top_img = top_img ? top_img : (theme.category_img !== false ? theme.category_img || theme.default_top_img : false)
  else if is_home()
    - var top_img = theme.index_img !== false ? theme.index_img || theme.default_top_img : false
  else if is_archive()
    - var top_img = theme.archive_img !== false ? theme.archive_img || theme.default_top_img : false
  else
    - var top_img = page.top_img || theme.default_top_img

  if top_img !== false
    - var imgSource = top_img && isImgOrUrl(top_img) ? `background-image: url('${url_for(top_img)}')` : `background: ${top_img}`
    - var bg_img = top_img ? imgSource : ''
    - var site_title = page.title || page.tag || page.category || config.title
    - var isHomeClass = is_home() ? 'full_page' : 'not-home-page'
    - is_post() ? isHomeClass = 'post-bg' : isHomeClass
  else
    - var isHomeClass = 'not-top-img'
else
  - var top_img = false
  - var isHomeClass = 'not-top-img'

- const isFixedClass = theme.nav.fixed ? ' fixed' : ''

header#page-header(class=`${isHomeClass+isFixedClass}` style=bg_img)
  !=partial('includes/header/nav', {}, {cache: true})
  if top_img !== false
    if is_post()
      include ./post-info.pug
    else if is_home()
      div#logo(style="position:absolute;bottom:calc(48%);width:100%;height:auto;text-align:center;")
        div(style="display:flex;justify-content:center;align-items:center;")
          svg(width="84.6px" height="45px" viewBox="0 0 188 100" version="1.1" xmlns="http://www.w3.org/2000/svg")
            g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              path(d="M94,6 L94,94 L15,94 C12.5147186,94 10.2647186,92.9926407 8.63603897,91.363961 C7.00735931,89.7352814 6,87.4852814 6,85 L6,15 C6,12.5147186 7.00735931,10.2647186 8.63603897,8.63603897 C10.2647186,7.00735931 12.5147186,6 15,6 L94,6 Z" stroke="#000000" stroke-width="12")
              path(d="M94,6 L94,94 L15,94 C12.5147186,94 10.2647186,92.9926407 8.63603897,91.363961 C7.00735931,89.7352814 6,87.4852814 6,85 L6,15 C6,12.5147186 7.00735931,10.2647186 8.63603897,8.63603897 C10.2647186,7.00735931 12.5147186,6 15,6 L94,6 Z" stroke="#FFFFFF" stroke-width="12")
              text(font-family="PingFangSC-Semibold, PingFang SC" font-size="65" font-weight="500" fill="#FFFFFF")
                tspan(x="19" y="74") W
              path(d="M173,0 C181.284271,1.52179594e-15 188,6.71572875 188,15 L188,85 C188,93.2842712 181.284271,100 173,100 L88,100 L88,0 Z M122.49,24.02 L112.9,24.02 L112.9,74 L121.09,74 L121.09,39.56 L121.37,39.56 L136.07,74 L143.14,74 L157.84,39.56 L158.12,39.56 L158.12,74 L166.31,74 L166.31,24.02 L156.72,24.02 L139.78,63.22 L139.5,63.22 L122.49,24.02 Z" fill="#FFFFFF")
      #site-info
        h1#site-title="  "
        if theme.subtitle.enable
          - var loadSubJs = true
          #site-subtitle
            span#subtitle
        if(theme.social)
          #site_social_icons
            !=fragment_cache('social', function(){return partial('includes/header/social')})
      #scroll-down
        i.fas.fa-angle-down.scroll-down-effects
    else
      #page-site-info
        h1#site-title=site_title